<header>
  <h2>Welcome to <strong>Mind Safety Net</strong></h2>
  <h3>Please, fill the form below so we can help you!</h3>
  <a href="#/login">Already have an account? Log in here.</a>
</header>
<main class="main" [formGroup]="questionsForm">
  <form method="POST" formGroupName="questions">
    @for (question of questionList; track question.id; let i = $index) {
    <div class="card">
      <h3>{{ question.description }}</h3>
      <ul class="answers-list">
        @for (answer of question.answers; track $index) {
        <li class="answer-item">
          <input class="answer-input" (click)="setQuestions(question, answer, i)"
            [checked]="setCheckedAnswers(question, answer, i)" type="radio" name="question{{ question.id }}"
            [value]="answer.value">
          <span class="answer-text">{{ answer.description }}</span>
        </li>
        }
      </ul>
    </div>
    }
    <app-submit-button [text]="'Submit Answers'" [loading]="!loading" (click)="onSubmit()"
      [disabled]="questionsForm.invalid"></app-submit-button>
  </form>
</main>

<style>
  header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  form {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px;
  }

  .answers-list {
    display: flex;
    gap: 10px;
  }

  .answer-input {
    margin-right: 10px;
  }
</style>