<main>
  <h2>Advices</h2>
  <div class="card">
    <p class="card-header">
      Your priority is considered <strong>{{ patient.priority == 1 ? 'Low' : this.patient.priority == 2 ? 'Medium' :
        'High'}}</strong>.
    </p>
    <p>
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </p>
  </div>

  <section class="advices">
    @for (advice of filteredAdvices; track $index) {
    <div class="card">
      <p>
        <strong>{{advice.title }}</strong>.
      </p>
      <p>
        {{advice.description}}
      </p>
    </div>
    }
  </section>

</main>

<style>
  .advices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 768px) {
    .advices {
      flex-direction: column;
    }
  }
</style>