<aside class="fixed left-0 top-0 h-full w-64 overflow-y-auto bg-indigo-600 text-white flex flex-col">
  <header class="flex items-center py-4">
    <span class="text-xl font-bold ml-4">Mind Safety Net</span>
  </header>

  <nav class="flex flex-col">
    <a routerLink="/patients" class="hover:bg-indigo-400 px-4 py-2 rounded-md flex items-center space-x-2">
      <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
          clip-rule="evenodd"></path>
      </svg>
      <span>Patients</span>
    </a>

    <a routerLink="/users" class="hover:bg-indigo-400 px-4 py-2 rounded-md flex items-center space-x-2">
      <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
      </svg>
      <span>Users</span>
    </a>
  </nav>
  <footer class="flex flex-col">
    <button class="text-white hover:bg-indigo-400 py-2 px-4 rounded-md flex items-center space-x-2">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3.182 1.182a4.144 4.144 0 001.595 1.595L10 8.707l-5.318 5.318a4.144 4.144 0 001.595 1.595l2.828-2.828a1.182 1.182 0 111.656-1.656l-2.828-2.828a4.144 4.144 0 00-1.595-1.595zM10 5a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1V6a1 1 0 00-1-1z"
          clip-rule="evenodd"></path>
      </svg>
      <span>Logout</span>
    </button>
  </footer>
</aside>