obj
bin
.vscode
appsettings.json
appsettings.Development.json
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.log
*.vscode/
*.nupkg
*.pfx

Publish/

artifacts/

*.swp
*.*~
*.suo
*.user
*.userosscache
*.sln.docstates

*.log
*.log.*
*.stackdump
*.dat
*.xml


project.lock.json
project.fragment.lock.json
artifacts/


.vscode/

*.suo
*.user
*.userosscache
*.sln.docstates

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

*.cab
*.msi
*.msm
*.msp

*.lnk
