<main>
  <header>
    <h1>My Safety Plan</h1>
  </header>

  <form [formGroup]="safetyPlanForm">
    <div class="input">
      <mat-label>My warning signs</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="warningSigns" maxlength="1000" placeholder="Description..."></textarea>
      </mat-form-field>
    </div>

    <div class="input">
      <mat-label>My distractions</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="distractions" maxlength="1000" placeholder="Description..."></textarea>
      </mat-form-field>
    </div>

    <div class="input">
      <mat-label>My reasons for living</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="reasonsForLiving" maxlength="1000" placeholder="Description..."></textarea>
      </mat-form-field>
    </div>

    <div class="input">
      <mat-label>Making my situation safer</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="situationFever" maxlength="1000" placeholder="Description..."></textarea>
      </mat-form-field>
    </div>

    <div class="input">
      <mat-label>Professional support</mat-label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="professionalSupport" maxlength="1000"
          placeholder="Description..."></textarea>
      </mat-form-field>
    </div>

    <app-submit-button [text]="'Save'" [loading]="!loading" [disabled]="safetyPlanForm.invalid"
      (click)="submitPost()"></app-submit-button>
  </form>
</main>

<style>
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
  }

  mat-form-field {
    width: 100%;
  }

  mat-label {
    font-size: 20px;
  }
</style>