<main>
  <header>
    <a mat-icon-button [routerLink]="['/patients/list']">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span>Patients</span>
  </header>

  <div>
    <h2>{{ patient.fullName }}'s Profile</h2>
  </div>

  <div>
    <strong>Email:</strong> {{ patient.email }}
  </div>

  <div>
    <strong>Phone Number:</strong> {{ patient.phoneNumber }}
  </div>

  <div>
    <strong>Date Submitted:</strong> {{ patient.dateSubmittedForm | date : 'dd/MM/yyyy HH:mm' }}
  </div>

  @if (patient.isScheduled) {
  <div>
    <strong>Appointment Date:</strong> {{ patient.appointment | date : 'dd/MM/yyyy HH:mm' }}
  </div>
  }

  <div class="patient-priority">
    <strong>Priority:</strong> <app-patient-priority [priority]="patient.priority"></app-patient-priority>
  </div>


  @for (question of patient.questions; track $index) {
  <div class="card">
    <div class="card-header">
      <span>{{ question.description }}</span>
    </div>
    <ul class="answers-list" *ngFor="let answer of question.answers; let ai = index">
      <li class="answer-item">
        <span></span>
        <span class="answer-text">{{ ai + 1 }}. {{ answer.description }}. <strong>Value:</strong>
          {{ answer.value
          }}</span>
      </li>
    </ul>
  </div>
  }
</main>

<style>
  main {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;

    span {
      font-size: x-large;
    }
  }

  .patient-priority {
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>