<main>

  <header>
    <h2>Questions</h2>
    <button mat-raised-button color="primary" (click)="newQuestion()">New Question</button>
  </header>

  <section>
    @for (question of questions; track question.id; let i = $index) {
    <div class="card">
      <div class="card-header">
        <span>{{ i + 1 }} -</span>
        <span>{{ question.description }}</span>
        <mat-slide-toggle color="primary" [checked]="question.enabled"
          (change)="toggleQuestionEnable($event.checked, i, question)">
          {{ question?.enabled ? 'Enabled' : 'Disabled' }}
        </mat-slide-toggle>
      </div>
      <ul class="answers-list">
        @for (answer of question.answers; track answer.id; let ai = $index) {
        <li class="answer-item">
          <span></span>
          <span class="answer-text">{{ ai + 1 }}. {{ answer.description }}. <strong>Value:</strong> {{ answer.value
            }}</span>
        </li>
        }
      </ul>
    </div>
    }
  </section>

</main>


<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-header span {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    section {
      flex-direction: column;
    }
  }
</style>