<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @if (isPatient) {
      <a mat-list-item [routerLink]="'patients/advices'">Home</a>
      <a mat-list-item [routerLink]="'patients/safety-plan'">Safety Plan</a>
      <a mat-list-item [routerLink]="'patients/self-care'">Self Care</a>
      <a mat-list-item [routerLink]="'patients/relaxation-guide'">Relaxation Guide</a>
      <a mat-list-item [routerLink]="'patients/helping-centers'">Helping Centers</a>
      }
      @else {
      <a mat-list-item [routerLink]="'patients/list'">Patients</a>
      <a mat-list-item [routerLink]="'questions/list'">Questions</a>
      <a mat-list-item [routerLink]="'users/list'">Users</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>Mind Safety Net</span>
      <span class="spacer"></span>
      <button type="button" mat-icon-button (click)="logout()">
        <mat-icon aria-label="Logout icon">logout</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>